body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffefd3;
}

header {
    background-color:#9fd6d2;
    padding: 20px;
    display: flex;
    align-items: center;
}

.logo {
    width: 400px;
    height: 200px;
    margin-right: 10px;
}

h1 {
    margin: 0;
}

h2 {
    margin: 0;
}

.content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.tab-control {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    width: 100%;
}

.tab-button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #f2f2f2;
    border: none;
    border-bottom: 2px solid transparent;
    cursor: pointer;
}

.tab-button:hover {
    background-color: #e0e0e0;
}

.tab-button.active {
    border-bottom-color: #007bff;
    font-weight: bold;
}

.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.resultados {
    display: flex;
    overflow-x: auto;
    scroll-behavior: auto;
    max-width: 100vw;
    background-color:#d0ecea ;
}
.resultadosProductos {
    display: flex;
    overflow-y: auto;
    max-width: 100%;
    background-color: #d0ecea;
}
.resultadosProductosCarrito {
    display: flex;
    overflow-y: auto;
    max-width: 100vw;
    background-color: #d0ecea;
}
.resultadosProductosCarritoHistorial {
    display: flex;
    overflow-y: auto;
    max-width: 100vw;
    background-color: #d0ecea;
}
.tarjeta-contenedorProductos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta-contenedorProductosCarrito {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.tarjeta-contenedor {
    display: flex;
    flex-wrap: nowrap;
}

.tarjetaCategory {
    width: 30%;
    padding: 15px;
    border-radius: 10px;
    background-color: #bec2c5;
    margin: 10px;
    text-align: center;
    transition-duration: 0.5s;
}

.tarjetaCategory:hover {
    background-color: #4ea0cfd3;
}
.tarjetaProduct{
    width: 40%;
    padding: 20px;
    border-radius: 20px;
    background-color: #bec2c5;
    margin: 10px;
    text-align: left;
    transition-duration: 0.5s;
}

.tarjetaProduct:hover {
    background-color: #4ea0cfd3;
}
